<div class="carousel">
    <a class="carousel-item" href="#one!"><img src="https://chuidiang.org/images/9/9a/JAVA.png"></a>
    <a class="carousel-item" href="#two!"><img src="https://seeklogo.com/images/C/c-sharp-c-logo-02F17714BA-seeklogo.com.png"></a>
    <a class="carousel-item" href="#three!"><img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png"></a>
    <a class="carousel-item" href="#four!"><img src="https://user-images.githubusercontent.com/42747200/46140125-da084900-c26d-11e8-8ea7-c45ae6306309.png"></a>
    <a class="carousel-item" href="#five!"><img src="https://upload.wikimedia.org/wikipedia/commons/5/57/Devicon-ruby-plain-wordmark.svg"></a>
</div>
