<div class="carousel">
    <a class="carousel-item" href="#one!"><img src="../../assets/azure_logo.png"></a>
    <a class="carousel-item" href="#two!"><img src="../../assets/ChatGPT_logo.png"></a>
    <a class="carousel-item" href="#three!"><img src="../../assets/github_logo.png"></a>
    <a class="carousel-item" href="#four!"><img src="../../assets/lumaAI_logo.png"></a>
    <a class="carousel-item" href="#five!"><img src="../../assets/wonderdynamics_logo.png"></a>
</div>

<div>
    <h3 class="title">Quienes Somos</h3>
    <p class="paragraph">En Categorías IA, nos apasiona el fascinante mundo de la inteligencia artificial. Somos un directorio dedicado a reunir y destacar a los profesionales, expertos y organizaciones que están impulsando el avance de esta revolucionaria tecnología.

    Nuestro objetivo es proporcionar un espacio centralizado donde los entusiastas, los innovadores y aquellos interesados en la inteligencia artificial puedan conectarse, colaborar y descubrir las últimas tendencias y desarrollos en este campo en constante evolución.
        
    En nuestro directorio, encontrarás una amplia gama de inteligencias artificiales y sus aplicaciones en diversos sectores, como la medicina, la robótica, el comercio electrónico, la automatización industrial y muchos más. Nos enorgullece presentar perfiles detallados y completos de expertos, investigadores y empresas líderes que están definiendo el futuro de la inteligencia artificial.</p>
</div>
