.img-card{
    width: 200px !important;
}

.card-image{
    display: flex;
    justify-content: center;
}

.card-title{
    color: black !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.img-btn-add{
    width: 40%;
}

.img-btn-add:hover{
    width: 45%;
    cursor: pointer;
}

.div-add-btn{
    display: flex;
    align-items: center;
    height: 250px;
}

.div-flex-btn{
    display: flex;
    justify-content: center;
}

.modal {
    /*background: rgba(0, 0, 0, 0.9);*/
    position: fixed;
    top: 0;
    left: 0;
    /*height: 100vh;*/
    width: 50vw;
    transition: all .2s;
}

.title-add-category{
    text-align: center;
}

.btn-redirect{
    color: #311b92 !important;
    font-weight: bold !important;
}

.img-btn{
    position: absolute;
    width: 30px !important;
    height: 30px !important;
    z-index: 1;
}

.img-btn:hover{
    cursor: pointer;
    width: 35px !important;
    height: 35px !important;
}



