<h2 class="title">Categorias de Inteligencia Artificial</h2>

<div class="row">
    <div class="col s12 m4" *ngFor="let Category of Categories">
        <div *ngIf="roleId == 1" style="text-align: right; margin-right: 13%;">
            <img src="../../assets/edit.png" class="img-card img-btn modal-trigger" id="edit-{{Category.id}}" data-target="modal1" (click)="HiddenBtn('none','block')" (click)="editCategoty(Category.id)">
        </div>

        <div *ngIf="roleId == 1" style="text-align: right; margin-right: 5%;">
            <img src="../../assets/delete.png" class="img-card img-btn modal-trigger" id="delete-{{Category.id}}" (click)="nameSelect(Category.name, Category.id)" data-target="modal4">
        </div>
        <div class="card large">
            <div class="card-image">
                <img src="{{url}}/Images/{{Category.image}}" class="img-card">
                <span class="card-title">{{Category.name}}</span>
            </div>
            <div class="card-content" style="text-align: justify">
                <p>{{Category.description}}</p>
            </div>
            <div class="card-action">
                <a class="btn-redirect" href="/intelligenceArtificial" (click)="idCategory(Category.id, Category.name)" >Ir a {{Category.name}}</a>
            </div>
        </div>
    </div>
    <div *ngIf="roleId == 1" class="col s12 m4 div-add-btn">
        <div class="div-flex-btn">
            <img src="../../assets/add_btn.png" class="img-btn-add modal-trigger" data-target="modal1" (click)="HiddenBtn('block','none')">
        </div>
    </div>
</div>


<div id="modal1" class="modal">
    <div class="modal-content">
        <h4 class="title-add-category">Categoria IA</h4>
        <form [formGroup]="formForSubmit" (ngSubmit)="onFormSubmit($event)">
            <div class="row">
                <div class="input-field col s12 formmg">
                    <input id="icon_prefix" [(ngModel)]="inputTitle" #title formControlName="Title" name="title" type="text" class="validate">
                    <label for="icon_prefix">Titulo</label>
                </div>

                <div class="input-field col s12">
                    <textarea id="textarea1" [(ngModel)]="inputDescription" #textarea formControlName="Description" class="materialize-textarea"></textarea>
                    <label for="textarea1">Descripcion</label>
                </div>
            </div>
            <div class="row">
                <div class="file-field input-field">
                    <div class="btn deep-purple darken-4">
                        <span>Archivo</span>
                        <input type="file" (change)="onFileSelected($event)"  formControlName="Image">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
            </div>

            <div class="input-field col s12 divbt">
                <button id="CategoriesAdd" class="waves-effect waves-light btn deep-purple darken-4 btlg1" type="submit"
                    name="btn-send">Agregar</button>
            </div>
            <div class="input-field col s12 divbt">
                <button id="CategoriesSave" class="waves-effect waves-light btn deep-purple darken-4 btlg1" type="submit"
                    name="btn-update">Guardar</button>
            </div>
        </form>
    </div>
</div>

<div id="modal4" class="modal">
    <div class="modal-content">
        <h4 class="title-add-category" style="color: red; font-weight: bold;">Desea eliminar la Categoria de Inteligencia Artificial "{{nameSelected}}"</h4>
        <div style="margin-bottom: 5%;">
            <h5 style="text-align: center;">Esta a punto de eliminar la informacion de la Categoria de inteligencia artificial "{{nameSelected}}". ¿Desea continuar?</h5>
        </div>

        <div class="input-field col s12 divbt">
            <button class="waves-effect waves-light btn red accent-4 btlg1" type="submit"
                name="bt-send" (click)="deleteCategory()">Eliminar</button>
        </div>
    </div>
</div>